<div class="container">

  <div class="card mx-auto my-5" style="width: 80%;">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h3 class="card-title">
        <%= @vehicle.make %> <%= @vehicle.model %>
        <small class="lead">from £<%= sprintf("%.2f", @vehicle.price_per_day) %> a day</small>
      </h3>
    </div>
    <img src="<%= @vehicle.image_url %>" class="card-img-top" alt="<%= @vehicle.make %> <%= @vehicle.model %>">
    <div class="card-body">
      <h3 class="card-title"><%= @vehicle.make %> <%= @vehicle.model %></h3>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Hire @ £<%= sprintf("%.2f", @vehicle.price_per_day) %> per day</li>
        <li class="list-group-item">Year: <%= @vehicle.year %></li>
        <li class="list-group-item">Colour: <%= @vehicle.colour %></li>
        <li class="list-group-item">
          <p class=lead"><%= @vehicle.description %></p>
        </li>
      </ul>

      <hr>

      <% if @hide_hire_button %>

      <!-- Cancel Booking Button Here. -->

      <% else %>
      <div class="d-flex justify-content-end">
        <%= link_to "Hire Me?", new_vehicle_rental_path(@vehicle), class: "btn btn-success btn-lg" %>
      </div>
      <% end %>

    </div>
  </div>

</div>
